<% provide(:title, "| SEARCH") %>
<div class="body-background">
  <div class="body-content">
    <fieldset>
      <legend><h2 style="font: italic normal bold 32px/1.4em 'times new roman',times,serif; padding: 0; margin: 0; text-align: center">Search Result</h2></legend>
      <div class="shop">
        <div style="padding-top: 30px; padding-bottom: 30px">

        <% if @book.count == 0 %>
          <div><h4>No book for search query</h4></div>
        <% else %>
            <% @book.each do |book| %>
                <!--Book for computer screen-->
                <!--Disabled in mobile screen-->
                <div class="" style="text-align: left; margin: 10px; font-family: Arial Narrow, Arial, sans-serif">
                  <div class="xs-book-img col-sm-3"><%= image_tag("#{book.imgbook}", class: "img-book img-thumbnail") %></div>
                  <div class="xs-book col-sm-8 ">
                    <div class="book-title" ><%= link_to(book.title, {controller: 'books', action: 'show', :id => book.id}, {method: 'get'})  %></div>
                    <div class="book-price"><%= "$ " + book.price.to_s %></div>
                    <div class="" ><strong>ISBN: </strong><%= book.isbn %></div>
                    <div class="" ><strong>Publisher: </strong><%= book.publisher %>; <%= book.year %></div>
                    <div class="" style="text-align: left !important;"><%= simple_format(book.description.split[0...50].join(' ')+ "...")  %></div>
                  </div>
                  <span style="clear:both;" class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2"><hr></span>
                  <div style="clear:both;">
                  </div>
                </div>
            <% end %>
          <% end %>
        <div style="clear: both"></div>
        </div>
      </div>

    </fieldset>
  </div>
</div>