<% provide(:title, "| BOOK | #{@book.title.upcase}") %>
<div class="body-background">
  <div class="body-content">

    <fieldset style="text-align: left !important;">

      <legend style="text-align: left !important;"><h3><%= @book.title %></h3></legend>
      <!--Authors of book-->

          <h5 style="margin-top: 0; padding-top: 0">
          <!--Show all authors, if the last author, remove character ;-->
          <% author_book = @author.ids  %>
          <%= 'by ' %>
          <% author_book.each do |author_id| %>
              <% if author_id == author_book.count + author_book.first - 1 %>
                <%= Author.find_by(id:author_id).name %>
              <% else %>
                <%= Author.find_by(id:author_id).name %>
                <%= ';' %>&nbsp;
              <% end %>

          <% end %>
          </h5>
      <div class="shop" >
          <!--Book Infos-->
          <div style="padding: 20px">
            <!--Left: img and price-->
            <div style="float: left; margin-right: 20px; text-align: center" class="col-sm-3 col-xs-12">
              <%= image_tag("#{@book.imgbook}",class: "img-book img-thumbnail") %>
              <div>
                <%= @book.price %>

                <!--Button Add to cart-->
                <% if signed_in? %>
                    <%= link_to "", class: "btn btn-primary", data: {target: @cart_action,
                                                                     addUrl: add_to_cart_path(@book), removeUrL: remove_from_cart_path(@book)} do %>
                        <span><%= @cart_action %></span> Cart
                    <% end %>
                <% end %>

              </div>
            </div>

            <!--Right: Details-->
            <div style="float: none">

              <table>
                <tr >
                  <td style="padding-right: 30px"><strong>Publisher:</strong></td>
                  <td><%= @book.publisher %>; <%= @book.year %></td>
                </tr>
                <tr>
                  <td><strong>ISBN:</strong></td>
                  <td><%= @book.isbn %></td>
                </tr>
                <tr>
                  <td><strong>Category: </strong></td>
                  <td>
                    <% category_book = @category.ids %>
                    <% category_book.each do |category_id| %>
                        <%= Category.find(category_id).category_title %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td><strong>Description:</strong></td>
                  <td></td>
                </tr>
              </table>

              <!--Description-->


              <div >
                <span class="more"><%= raw(@book.description) %></span>
              </div>

            <script>
                $(document).ready(function() {
                    // Configure/customize these variables.
                    var showChar = 200; // How many characters are shown by default
                    var ellipsestext = "...";
                    var moretext = "Show more >";
                    var lesstext = "Show less";


                    $('.more').each(function() {
                        var content = $(this).html();

                        if(content.length > showChar) {

                            var c = content.substr(0, showChar);
                            var h = content.substr(showChar, content.length - showChar);

                            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                            $(this).html(html);
                        }

                    });

                    $(".morelink").click(function(){
                        if($(this).hasClass("less")) {
                            $(this).removeClass("less");
                            $(this).html(moretext);
                        } else {
                            $(this).addClass("less");
                            $(this).html(lesstext);
                        }
                        $(this).parent().prev().toggle();
                        $(this).prev().toggle();
                        return false;
                    });
                });
            </script>

            </div>
            <div style="clear: both"></div>

          </div>

        </div>

    </fieldset>


  <!--Guide book the same category-->
    <div>

      <% category_book = @category.ids %>

      <% arr_book_the_same_category = Array.new %>
      <% book_the_same_category = Category.new %>
      <% category_book.each do |category_id| %>
          <% book_the_same_category = Category.find(category_id).books %>
          <% book_the_same_category = book_the_same_category.where.not(id: @book.id) %>
          <% book_the_same_category.each do |book_same_category| %>
              <% arr_book_the_same_category <<  book_same_category.id%>
              <% arr_book_the_same_category = arr_book_the_same_category.uniq%>
          <% end %>
      <% end %>

      <% if arr_book_the_same_category.count > 0 %>

        <fieldset style="text-align: left !important">
          <legend style="text-align: left !important;">
            <h3> More in:
              <% category_book.each do |category_id| %>
                  <% if category_id == category_book.count + category_book.first - 1 %>
                      <%= Category.find_by(id:category_id).category_title %>
                  <% else %>
                      <%= Category.find_by(id:category_id).category_title %>
                      <%= '-' %>&nbsp;
                  <% end %>
              <% end %>
            </h3>
          </legend>


          <!--Book for computer screen-->
          <!--Disabled in mobile screen-->
              <!--Display books the same authors-->
              <div class="shop" style = "padding-top: 20px; padding-bottom: 20px">
                <% arr_book_the_same_category.sample(4).each do |book_same_category| %>

                    <!--Book for mobile screen-->
                    <!--Disable in computer screen-->
                    <div class="col-sm-3 mobile-book">
                      <div class="xs-book-img" >
                        <%= image_tag("#{Book.find(book_same_category).imgbook}", class: "img-book img-thumbnail") %>
                      </div>
                      <div class="xs-book">
                        <%= link_to(Book.find(book_same_category).title, {controller: "books", action: "show", :id => "#{Book.find(book_same_category).id}"}, {class: "mobile-link-title book-title", method: "get"}) %>
                        <div>
                            <% category_book.each do |category_id| %>
                                <% if category_id == category_book.count + category_book.first - 1 %>
                                    <%= Category.find_by(id:category_id).category_title %>
                                <% else %>
                                    <%= Category.find_by(id:category_id).category_title %>
                                    <%= '-' %>&nbsp;
                                <% end %>
                            <% end %>
                        </div>
                        <div class="book-price"><%= "$ " + Book.find(book_same_category).price.to_s %></div>
                        <div class="xs-book-des"><%= simple_format(Book.find(book_same_category).description.split[0...30].join(' ') + "...") %></div>
                        <div style="clear:both;"></div>
                      </div>
                    </div>

                    <!--Book for computer screen-->
                    <!--Disabled in mobile screen-->
                    <%= link_to("#", class:"book-modal", data: {toggle: "modal", target: "#myModal_#{Book.find(book_same_category).id}"}) do %>
                    <div class="shop" style="border: solid 1px #ffffff">
                      <div class="col-sm-3" style="float: left">
                        <div class="xs-book-img" >
                          <%= image_tag("#{Book.find(book_same_category).imgbook}", class: "img-book img-thumbnail") %>
                        </div>
                        <div class="xs-book">
                          <div class="book-title" ><%= Book.find(book_same_category).title %></div>
                          <div>
                            <% category_book_relate = Book.find(book_same_category).categories.ids %>
                            -
                            <% category_book_relate.each do |category_id| %>
                                <% if category_id == category_book_relate.count + category_book_relate.first - 1 %>
                                    <%= Category.find_by(id:category_id).category_title %>
                                <% else %>
                                    <%= Category.find_by(id:category_id).category_title %>
                                    <%= '-' %>&nbsp;
                                <% end %>
                            <% end %>
                            -
                          </div>
                          <div class="book-price"><%= "$ " + Book.find(book_same_category).price.to_s %></div>
                          <div class="xs-book-des"><%= Book.find(book_same_category).description.split[0...50].join(' ') + "..." %></div>
                        </div>
                        <div style="clear: both"></div>
                      </div>
                    </div>
                    <% end %>


                    <!-- Modal -->
                    <div class="modal fade" id="myModal_<%= Book.find(book_same_category).id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"><%= Book.find(book_same_category).title %></h4>
                          </div>
                          <div class="modal-body">
                            <div class="modal-book-img" ><%= image_tag("#{Book.find(book_same_category).imgbook}", class: "img-book img-thumbnail") %></div>
                            <div class="modal-book">
                              <!--List all author of a book-->
                              <% authors_of_book = Book.find(book_same_category).authors %>
                              <div class="modal-author">
                                <% authors_of_book.each do |author|%>
                                    <%= link_to("#{author.name}", "author/#{author.id}") %>
                                <% end %>
                              </div>
                              <!--Price-->
                              <div class="modal-price"><%= "$ " + Book.find(book_same_category).price.to_s %></div>
                              <!--List all category of book-->
                              <% catetory_of_book = Book.find(book_same_category).categories %>
                              <div>
                                <% catetory_of_book.each do |category| %>
                                    <%= link_to("#{category.category_title}", "category/#{category.id}") %>
                                <% end %>
                              </div>
                              <div class="modal-book-des"><%= raw(Book.find(book_same_category).description.split[0...50].join(' ')) + "..." %></div>
                            </div>
                            <div style="clear:both;"></div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" style="float: right; margin-left: 20px" data-dismiss="modal">Close</button>
                            <%= link_to "View details", {controller: "books", action: "show", :id => "#{Book.find(book_same_category).id}"}, {class:"btn btn-primary", id:"view-details", method: "get"} %>
                          </div>
                        </div>
                      </div>
                    </div>
                <% end %>
                <div style="clear: both"></div>
              </div>
        </fieldset>
          <% end %>
  </div>

  <!--Guide book the same authors  -->
    <!--Get list authors-->
    <div>
      <% author_book = @author.ids %>

      <!--Array -> the books of all authors-->
      <% arr_book_the_same_author = Array.new %>
      <% author_book.each do |author_id| %>
          <% book_the_same_author = Author.find(author_id).books %>
          <% book_the_same_author = book_the_same_author.where.not(id: @book.id) %>
          <% book_the_same_author.each do |book_same_author| %>
              <% arr_book_the_same_author <<  book_same_author.id%>
              <% arr_book_the_same_author = arr_book_the_same_author.uniq%>
          <% end %>
      <% end %>

      <% if arr_book_the_same_author.count > 0 %>
      <fieldset style="text-align: left !important;">
        <legend style="text-align: left !important;">
          <h3>More by:
            <% author_book.each do |author_id| %>
                <% if author_id == author_book.count + author_book.first - 1 %>
                    <%= Author.find_by(id:author_id).name %>
                <% else %>
                    <%= Author.find_by(id:author_id).name %>
                    <%= '-' %>&nbsp;
                <% end %>
            <% end %>
          </h3>
        </legend>

        <!--Display books the same authors-->
        <div class="shop" style="padding-top: 20px; padding-bottom: 20px">
        <% arr_book_the_same_author.sample(4).each do |book_same_author| %>
          <div>
            <!--Book for mobile screen-->
            <!--Disable in computer screen-->
            <div class="col-sm-3 mobile-book">
                <div class="col-sm-3">
                  <div class="xs-book-img" ><%= image_tag("#{Book.find(book_same_author).imgbook}", class: "img-book img-thumbnail") %></div>
                  <div class="xs-book">

                    <%= link_to(Book.find(book_same_author).title,
                                {controller: "books", action: "show", :id => "#{Book.find(book_same_author).id}"},
                                {class: "mobile-link-title book-title", method: "get"}) %>
                    <div>
                      <% author_book_relate = Book.find(book_same_author).authors.ids %>
                      by
                      <% author_book_relate.each do |author_id| %>
                          <% if author_id == author_book_relate.count + author_book_relate.first - 1 %>
                              <%= Author.find_by(id:author_id).name %>
                          <% else %>
                              <%= Author.find_by(id:author_id).name %>
                              <%= '-' %>&nbsp;
                          <% end %>
                      <% end %>

                    </div>
                    <div class="book-price"><%= "$ " + Book.find(book_same_author).price.to_s %></div>
                    <div class="xs-book-des"><%= Book.find(book_same_author).description.split[0...30].join(' ') + "..." %></div>
                  </div>
                  <div style="clear:both;"></div>
                </div>
            </div>


            <!--Book for computer screen-->
            <!--Disabled in mobile screen-->
            <%= link_to("#", class:"book-modal", data: {toggle: "modal", target: "#myModal_#{Book.find(book_same_author).id}"}) do %>
            <div class="col-sm-3">
              <div class="xs-book-img" ><%= image_tag("#{Book.find(book_same_author).imgbook}", class: "img-book img-thumbnail") %></div>
              <div class="xs-book">
                <div class="book-title" ><%= Book.find(book_same_author).title %></div>
                <div>
                  <% author_book_relate = Book.find(book_same_author).authors.ids %>
                  by
                  <% author_book_relate.each do |author_id| %>
                      <% if author_id == author_book_relate.count + author_book_relate.first - 1 %>
                          <%= Author.find_by(id:author_id).name %>
                      <% else %>
                          <%= Author.find_by(id:author_id).name %>
                          <%= '-' %>&nbsp;
                      <% end %>
                  <% end %>
                </div>
                <div class="book-price"><%= "$ " + Book.find(book_same_author).price.to_s %></div>
                <div class="xs-book-des"><%= Book.find(book_same_author).description.split[0...50].join(' ') + "..." %></div>
              </div>
              <div style="clear:both;"></div>
            </div>
            <% end %>

            <!-- Modal -->
            <div class="modal fade" id="myModal_<%= Book.find(book_same_author).id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><%= Book.find(book_same_author).title %></h4>
                  </div>
                  <div class="modal-body">
                    <div class="modal-book-img" ><%= image_tag("#{Book.find(book_same_author).imgbook}", class: "img-book img-thumbnail") %></div>
                    <div class="modal-book">
                      <!--List all author of a book-->
                      <% authors_of_book = Book.find(book_same_author).authors %>
                      <div class="modal-author">
                        <% authors_of_book.each do |author|%>
                            <%= link_to("#{author.name}", "author/#{author.id}") %>
                        <% end %>
                      </div>
                      <!--Price-->
                      <div class="modal-price"><%= "$ " + Book.find(book_same_author).price.to_s %></div>
                      <!--List all category of book-->
                      <% catetory_of_book = Book.find(book_same_author).categories %>
                      <div>
                        <% catetory_of_book.each do |category| %>
                            <%= link_to("#{category.category_title}", "category/#{category.id}") %>
                        <% end %>
                      </div>
                      <div class="modal-book-des"><%= raw(Book.find(book_same_author).description.split[0...50].join(' ')) + "..." %></div>
                    </div>
                    <div style="clear:both;"></div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="float: right; margin-left: 20px" data-dismiss="modal">Close</button>
                    <%= link_to "View details", {controller: "books", action: "show", :id => "#{Book.find(book_same_author).id}"}, {class:"btn btn-primary", id:"view-details", method: "get"} %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div style="clear: both"></div>
        </div>
      </fieldset>
      <% end %>

    </div>
  </div>
</div>
